.btn {
  @include flex(center, row, center);
  width: 179px;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 3rem;
  background-color: transparent;
  border: 2px solid $colorOrange;
  color: $colorOrange;
  border-radius: 30px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  &:hover {
    background-color: $colorOrangeLight;
    border: 2px solid;
    border-color: $colorOrangeBorder;
    color: $colorBlack;
    svg path {
      color: $colorBlack;
    }
  }
  svg {
    margin-left: 0.5rem;
    path {
      color: $colorOrange;
    }
  }
}

.btn-orange {
  background-color: $colorOrange;
  color: $colorWhite;
  svg path {
    color: $colorWhite;
  }
}
