html,
body {
  overflow-x: hidden;
}
body {
  * {
    font-size: 16px;
    font-weight: normal;
    font-family: Noto Sans;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 0.8px;
    color: $colorFont;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
  }
}

.container {
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  max-width: 1280px;
}

h1 {
  @include font(3rem, $colorFont, 900);
  margin: 0;
}

h2 {
  @include font(1.75rem, $colorOrange, 600);
  margin: 0;
}

h3 {
  @include font(1.5rem, $colorOrange, 600);
  margin: 0;
}

p,
span {
  @include font(1.25rem, $colorPrimary, 400);
  line-height: 1.875rem;
  margin: 0;
}

.home-bg {
  @include bgCenter;
  background-image: url($bg);
  @include screen(pad) {
    background-image: url($bg-mobile);
    background-position: right;
  }
}

.color-dark-blue {
  color: $colorDarkBlue;
}

.color-primary {
  color: $colorPrimary;
}

.color-orange {
  color: $colorOrange;
}

.link-orange {
  color: $colorOrange;
  cursor: pointer;
  &:hover {
    color: $colorOrangeLight;
  }
}

.input {
  border: 1px solid $colorGray;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 8px 24px;
  margin-right: 0.5rem;
  &::placeholder {
    color: $colorGray;
  }
  &-auto {
    width: 100%;
  }
  &-error {
    @include font(14px, $colorError, 400);
    @include flex(normal, row, center);
    line-height: 30px;
    svg {
      font-size: 1.25rem;
      margin-right: 0.5rem;
      path {
        color: $colorError;
      }
    }
  }
}

.form-input {
  @include flex(normal, row, center);
  flex-flow: wrap;
}

.form-checkbox {
  @include flex(normal, row, center);
  .input[type="checkbox"] {
    display: none;
  }
  .input[type="checkbox"] + label {
    display: inline-block;
    padding-left: 26px;
    height: 20px;
    background: url($checkbox-off) no-repeat;
    background-position: center;
    user-select: none;
    cursor: pointer;
  }
  .input[type="checkbox"]:checked + label {
    background: url($checkbox-on) no-repeat;
    background-position: center;
  }
  .input[type="checkbox"].valid + label {
    background: url($checkbox-valid) no-repeat;
    background-position: center;
  }
}

.form-password .togglePassword {
  margin-left: -50px;
  margin-right: 1rem;
  cursor: pointer;
  color: $colorDarkBlue;
  font-size: 1rem;
}
