$colorPrimary: #222222;
$colorError: #DB3328;
$colorBlack: #000000;
$colorDarkBlue: rgba(13, 19, 54, 0.87);
$colorOrange: #ff9933;
$colorOrangeLight: rgba(255, 153, 51, 0.6);
$colorOrangeBorder: rgb(248, 196, 147);
$colorGray: #DCDDDD;
$colorWhite: #ffffff;
$colorWhiteLight: rgba(255, 255, 255, 0.87);
$colorFont: $colorPrimary;

$fontStyle: 'Noto Sans';

$bg: '~@/assets/images/bg.svg';
$bg-mobile: '~@/assets/images/bg-mobile.svg';
$checkbox-on: '~@/assets/images/checkbox-on.svg';
$checkbox-off: '~@/assets/images/checkbox-off.svg';

$font-weight: (100, 200, 300, 400, 500, 600, 700, 800, 900);
